
<div class="dialpad-container">    
    <div class="input-group" >
        <label class="block text-gray-700 font-medium mb-1">Select Profile</label>
        <select [(ngModel)]="selectedProfile" (change)="onProfileChange()"
                class="w-full border p-2 rounded focus:outline-none">
          <option value="" disabled>Select a Profile</option>
          <option *ngFor="let profile of profiles" [ngValue]="profile">
            {{ profile.connection_name }}
          </option>
        </select>
      </div>
      
      <!-- Phone Number Selector -->
      <div class="input-group" *ngIf="phoneNumbers && phoneNumbers.length">
        <label class="block text-gray-700 font-medium mb-1">Select From Number</label>
        <select [(ngModel)]="from" class="w-full border p-2 rounded focus:outline-none">
          <option *ngFor="let phone of phoneNumbers" [value]="phone.phone_number">
            {{ phone.phone_number }}
          </option>
        </select>
      </div>
    
    <!-- Display dialed number (read-only) -->
    <div class="input-group">
      <label>Dialed Number:</label>
      <input type="text" [value]="dialedNumber" placeholder="Dialed Number" readonly>
    </div>
    
    <!-- Dialpad buttons -->
    <div class="digits">
      <button *ngFor="let digit of ['1','2','3','4','5','6','7','8','9','*','0','#', '+']" (click)="appendDigit(digit)">
        {{ digit }}
      </button>
      <button class="delete" (click)="deleteLastDigit()">Del</button>
    </div>
    
    <!-- Call control buttons -->
    <div class="actions">
      <button (click)="call()" class="btn btn-success">Call</button>
      <button (click)="hangup()" *ngIf="callStatus !== 'idle'">Hang Up</button>
      <button *ngIf="isRinging" (click)="answerCall()">Answer</button>
    </div>
    
    <!-- Display current call status -->
    <div class="status">
      Status: {{ callStatus }}
    </div>
  </div>
<video id="localVideo" autoplay muted></video>
<video id="remoteVideo" autoplay></video>